{% extends "admin/admin.html" %}
{% block main %}
<style>

.table_footable{
    width: 95%;
    text-align: end;
}

.form-group{
    display: -webkit-inline-box;
    margin: 100px;
}

.panel-primary {
    border-color: #337ab7;
    width: 60%;
}


.panel-body{
    text-align: -webkit-center;
}

tbody, th, #_body{
    text-align: -webkit-center;
}


#name, #_submit{
    margin: 5px;
}

</style>

      <br>
      <br>
      <br>
      <br>
     <div class="panel panel-primary" style="background-image: url('/static/images/seism.jpg'); min-height: 489px;">
        <div class="panel-body">
            <h1>{{ city.name }}</h1>
            <div id="country_table"  {% if city.his_seism()|length == 0 %} style="display: none;"{% endif %}>
              <table class="table_footable">
                    <thead style="background-color: powderblue">
                        <tr style="text-align: -webkit-center;">
                            <th>N°</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Sismo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for seism in city.his_seism() %}
                            <tr>
                                <td>{{loop.index}}</td>
                                <td>{{seism.seismic_date|replace("00:00:00", '', 2)}}</td>
                                <td>{{seism.seismic_time}}</td>
                                <td>{{seism.richter_scale}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
              </table>
            </div>

        </div>
     </div>

{% endblock %}
