{% extends "admin/seismic/list.html" %}
{% block department_form %}

<style>
#name, #_submit{
    margin: 5px;
}
</style>


   <div id="form_" style="text-align: center;">
       <form action="" method="post"  enctype="multipart/form-data">
           {{ form.csrf_token }}
           <br style="display: -webkit-inline-box;">
               <center style="color: royalblue;">

               <div>
                {{ form.seismic_time.label }}
                {{ form.seismic_time(type='time', step="2") }}
               </div>

               <div>
                {{ form.seismic_date.label }}
                {{ form.seismic_date(type='date', step="2") }}
               </div>

               <div>
                {{ form.richter_scale.label }}
                {{ form.richter_scale}}
               </div>

               <div>
                {{ form.department.label }}
                {{ form.department }}
               </div>

               <div>
                {{ form.city_id.label }}
                {{ form.city_id }}
               </div>

               <input id="_submit" type="submit" value="Guardar" style="width: 200px;" class="btn btn-danger btn-block">
               </center>
       </form>
   </div>


<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.nicescroll.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#department').append($('<option>', {
        value: 'default',
        text: ''
    }));

$('#department option[value=default]').attr('selected','selected');
$('#richter_scale option[value=default]').attr('selected','selected');
$('#seismic_date').val('');

    $( "#department" ).change(function() {
		$.ajax({
			url: '{{ url_for('get_departments') }}',
			data:{
                 'department': $('#department').val(),
                 'csrfmiddlewaretoken': '{{ csrf_token }}'
                 },
			type: 'POST',
			success: function(response){
                    $('#city_id').children().remove();
                        for( id  in response.city_id){
                            $('#city_id').append($('<option>', {
                                value: response.city_id[id],
                                text: response.city_name[id]
                            }));
                        }
					},
			error: function(error){
			}
		});
    });

});

</script>

{% endblock %}
