{% extends "admin/admin.html" %}
{% block main %}
<style>

.table_footable{
    width: 95%;
    text-align: end;
}

.form-group{
    display: -webkit-inline-box;
    margin: 100px;
}

.panel-primary {
    border-color: #337ab7;
    width: 60%;
}


.panel-body{
    text-align: -webkit-center;
}

tbody, th, #_body{
    text-align: -webkit-center;
}


#name, #_submit{
    margin: 5px;
}

</style>

      <br>
      <br>
      <br>
      <br>
     <div class="panel panel-primary" style="background-image: url('/static/images/seism.jpg'); min-height: 489px; max-width: 1017px">
        <div class="panel-body">
            
        <div style="text-align:center;">
          <a href="{{ url_for('new_country') }}" style="float: left;font-size: 20px;margin-left: 20px;">
            < volver
          </a>
          <h2 class="page-header mtn">
            {{ country.name }}
          </h2>
        </div>

           {% if action == 'create' %}
               {% block department_form %}{% endblock %}
           {% endif %}

            {% if action == 'list'%}
            <div id="country_table"  {% if seismic|length == 0 %} style="display: none;"{% endif %}>
              <table class="table_footable">
                    <thead style="background-color: powderblue">
                        <tr style="text-align: -webkit-center;">
                            <th>N°</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Sismo</th>
                            <th>Ciudad</th>
                            <th>Departamento</th>
                        {% if action =='edit' %}
                            <th>Acciones</th>
                        {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for seism in seismic %}
                            <tr>
                                <td>{{loop.index}}</td>
                                <td>{{seism.seismic_date|replace("00:00:00", '', 2)}}</td>
                                <td>{{seism.seismic_time}}</td>
                                <td>{{seism.richter_scale}}</td>
                                <td>{{seism.get_city()}}</td>
                                <td>{{seism.get_department() }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
              </table>
            </div>
            {% endif %}
        </div>
     </div>

{% endblock %}
