{% extends "admin/admin.html" %}
{% block main %}
<style>

.table_footable{
    width: 95%;
    text-align: end;
}

.form-group{
    display: -webkit-inline-box;
    margin: 100px;
}

.panel-primary {
    border-color: #337ab7;
    width: 60%;
}


.panel-body{
    text-align: -webkit-center;
}

tbody, th, #_body{
    text-align: -webkit-center;
}


#name, #_submit{
    margin: 5px;
}

</style>

      <br>
      <br>
      <br>
      <br>
     <div class="panel panel-primary" style="background-image: url('/static/images/seism.jpg'); min-height: 489px;">
        <div class="panel-body">

        <div style="text-align:center;">
          <a href="{{ url_for('new_country') }}" style="float: left;font-size: 20px;margin-left: 20px;">
            < volver
          </a>
          <h2 class="page-header mtn">
            {{ country.name }}
          </h2>
        </div>


            {% block department_form %}{% endblock %}
            <div id="country_table"  {% if country == 0 %} style="display: none;"{% endif %}>
                <table class="table_footable" {% if departments|length  == 0 %} style="display: none;"{% endif %} >
                    <thead style="background-color: powderblue">
                        <tr style="text-align: -webkit-center;">
                            <th>N°</th>
                            <th>Departamentos</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for department in departments %}
                            <tr>
                                <td>
                                    {{loop.index}}
                                </td>
                                <td>
                                    {{department.name}}
                                </td>
                                <td style="display:flex;">
                                    <a href="{{ url_for('new_city', name_country=country.name, name_department=department.name) }}" class="btn btn-default btn-block">Ciudades</a>
                                    <a href="{{ url_for('edit_department',name_country=country.name,id_department=department.id) }}" class="btn btn-default btn-block">Editar</a>
                                    <form action="{{ url_for('delete_department',id_department=department.id) }}" method="post" style="width: 100%;">
                                        <button type=submit class="btn btn-info btn-block" >Eliminar</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
              </table>
            </div>
        </div>
     </div>
{% endblock %}
